// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/openedx/paragon/blob/master/scss/core/ for reference

$primary: #96168b !default;
$component-active-bg: #96168b !default !default;
// paragon/_variables.scss
$brand-primary: #96168b;         // your main brand color
$primary: $brand-primary;        // Bootstrap/Paragon primary
$link-color: $brand-primary;
$btn-primary-bg: $brand-primary;
$btn-primary-border-color: $brand-primary;
